.project-section {
    margin-top: 2rem;
    margin-right: 3rem;
    margin-left: 3rem;
    text-align: center;
    border-top-width: 1px;
}

.slogan {
    color: var(--bs-white);
    font-family: 'Amiko', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
}

.h2-project {
    font-family: 'Antonio', sans-serif;
}

a-scene .scene {
    width: 100%;
    height: 100%;
}

.profile-picture {
    width: 10%;
}

@media (max-width:991px) {
    img.profile-picture {
        width: 20% !important;
    }
}

button.btn-outline-primary {
    color: #ffffff;
    line-height: 20px;
    font-size: 32px;
    margin-left: 3%;
    margin-top: 3%;
}

button.btn-outline-light {
    z-index: 2;
}

section.info {
    margin: 2rem;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-gray-700);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-gray-800);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.link-all-projects {
    display: flex;
    justify-content: center;
}

.visual-container {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

div.pb-2.pt-2.buton-space {
    display: flex;
    justify-content: space-evenly;
}

a.btn.link-to {
    margin: 0.5rem;
    font-family: 'Antonio', sans-serif;
    font-size: 22px;
    padding-right: 2rem;
    padding-left: 2rem;
}

@media (max-width:767px) {
    p.about {
        margin: 1rem 2rem 2rem;
        text-align: justify;
    }
}

.options-panel img.selected {
    border-color: white;
}

div.date-container label {
    font-family: 'Antonio', sans-serif;
    color: #ffffff;
}

div.date-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

div.date-button {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 5px;
}

p.project-description {
    text-align: center;
    margin: 2rem;
}

.app-container {
    border-radius: 10px;
    border: 2px solid var(--bs-gray-300);
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    border-radius: 10px;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: var(--bs-gray-800);
    text-align: center;
    color: var(--bs-gray-300);
}

#close-button {
    margin-top: 20px;
}

a.link-pop-up {
    text-decoration: none;
    font-weight: bold;
    color: var(--bs-gray-300) !important;
}

p.about {
    text-align: center;
}

section.project-section section {
    border-width: 2px;
    border-color: #ffffff;
}

@media (max-width:500px) {
    div.container.slogan section.song-section a {
        font-weight: bold;
    }

    div.container.slogan section.song-section h1 {
    }

    div.container.slogan section.song-section {
        font-size: 40px;
    }
}

@media (max-width:575px) {
    div.back-button-centred {
        position: static;
        z-index: 2;
        display: flex;
        justify-content: center;
    }
}

handchord-banner {
    background-image: url('assets/img/handchord_picture.png');
}

.handchord-banner {
    background-image: url('../assets/img/handchord_picture.png');
    background-position: right center;
    background-size: cover;
}

description {
    display: flex;
}

div.description {
    display: flex;
}

table,
th,
td {
    margin: 0 auto;
    color: #ffffff;
    font-family: 'Amiko', sans-serif;
}

th,
td {
    width: 5%;
}

td {
    padding: 0.5rem;
}

tr td a:link {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Amiko', sans-serif;
}

tr td a:visited {
    text-decoration: none;
    color: white;
}

tr td a:hover {
    text-decoration: none;
    color: var(--bs-blue);
}

tr td a:active {
    text-decoration: none;
    color: #ffffff;
}

section.contact-section a img {
}

section.contact-section {
    display: flex;
    justify-content: center;
}

.contact-section a svg {
    width: 2rem;
    fill: #fff;
    margin: 1rem 0.5rem;
}

h2.profetion {
    font-family: 'Antonio', sans-serif;
    font-size: 44px;
}

section.info div.bio-section-about-me {
    display: grid;
}

footer {
    margin-top: 5rem;
    margin-bottom: 1rem;
}

div.back-buton-weekely-app {
    margin-left: 3%;
    margin-top: 3%;
    line-height: 27px;
    font-size: 30px;
    position: static;
    z-index: 1;
}

