.project-section {
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.slogan {
    color: var(--bs-white);
    font-family: 'Amiko', sans-serif;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
}